@font-face {
    font-family: 'MontserratBold';
    src: url('../files/data/gotham_bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamBook';
    src: url('../files/data/gotham_book.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently*/
    font-family: 'GothamBook', sans-serif;
    margin: 0;
}
body {
    /* set margin to 0 and overflow to hidden,
    to use the complete page */
    margin: 0;
    /*overflow: hidden;*/
    /*background: rgba(245, 245, 245, 0.96);*/
    /*background: #E9E6DA;*/
    background: #ffffff;
    font-size: 1vw;
}
header{
    background: #E9E6DA;
}
.color {
    background: #E9E6DA;
}
.btn {
    font-size: 1vw;
    padding: 0.3vw;
}
.fontSize {
    font-size: 1vw;
    padding: 0.3vw;
    height: auto;
    width: auto;
}
.socIcon {
    width: 2vw;
}
.myHeader {
    width: 100vw;
}
.userAgent {
    white-space: nowrap;
    overflow:hidden;
    max-width:60vw;
    font-size: 0.7vw;
    padding: 0.5vw;
}
.tablePrices {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные рамки */
    overflow: hidden;
    /*opacity: 0.8;*/
    /*z-index: 2;*/
}
.tablePricesContainer {
    /*background-color: #ffffff;*/
}
.borderTablElem {
    border: #696969 solid 0.1vw;
    background-color: #ffffff;
    position: relative;
    width: auto;
    height: auto;
    /*z-index: 3;*/
}
.borderTablElem:hover {
    background: #cbcbcb;
    /*border: #888888 solid 0.1vw;*/
    /*z-index: 3;*/
}
.borderTablElem:hover::before {
    content: ''; /* Добавляем псевдоколонку */
    background: #858585; /* Цвет фона */
    position: absolute; /* Абсолютное позиционирование */
    height: 200vh; /* Высота колонки */
    width: 100%; /* Ширина колонки */
    left: 0; /* Положение от левого края */
    top: -100vh; /* Положение от верхнего края */
    z-index: -1; /* Располагаем ниже текста ячейки */
    opacity: 0.2;
}
.borderTablElem:hover::after {
    content: ''; /* Добавляем псевдоколонку */
    background: #858585; /* Цвет фона */
    position: absolute; /* Абсолютное позиционирование */
    height: 100%; /* Высота колонки */
    width: 200vw; /* Ширина колонки */
    left: -100vw; /* Положение от левого края */
    top: 0; /* Положение от верхнего края */
    z-index: -1; /* Располагаем ниже текста ячейки */
    opacity: 0.2;
}
.gray {
    background: #767676;
}
.cursorPointer {
    cursor: pointer;
}
.colorPages {
    background: #f1eee3;
}
.colorSelect {
    background: #f1eee3;
}
.colorText {
    background: #e0dbd0;
}
iframe {
    display: block;
    width: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}
.act {
    color: #7b7b7b;
    text-shadow: black;
}

.directoryUnit {

}
.directoryUnit:hover {
    background: #bdbdbd;
    cursor: pointer;
}
.pathUnit {
    color: #004099;
}
.pathUnit:hover {
    color: #0046c1;
    cursor: pointer;
}
.folderIcon {
    width: 20px;
}
.fileNameInFileView {
    float: left;
}
.tableUnit {
    border: #b1b1b1 solid 1px;
}
.tableUnit:hover {
    cursor: pointer;
    background: #bababa;
}
.headerTableUnit {
    background: #a7a7a7;
    border: #b1b1b1 solid 1px;
}
.backgroundSecondary {
    background: #e2e3e5;
}
.trColumn {
    background: #ffffff;
}
.trColumn:hover {
    background: #eeeeee;
}
.myCanvas {
    width: 70%;
    height: 70%;
}